
*{
    margin: 0;
}

nav{
    background-color: aquamarine;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

ul{
    display: flex;
    list-style: none;
    padding: 0;
}

li{
    padding: 8px 20px;
    background-color: rgba(0, 0, 255, 0.537);
    margin: 2px;
    border-radius: 8px;
}

li a{
    text-decoration: none;
    color: #000;
    font-size:20px;
}
